@media (max-width: 1400px) {
  .content-width {
    width: 1100px; }

  .top-info-line .content-width, .top-line .content-width {
    min-width: inherit; }

  .products-tabs .table-menu-styles {
    margin-top: 15px; }

  .service-block .item .bg:before {
    width: 100%; }

  .img-text figure {
    width: 400px; }

  .img-text .text {
    width: calc(100% - 400px);
    padding: 50px 50px 20px; } }
@media (max-width: 1199px) {
  .content-width {
    width: 960px; }

  .top-line .icon-wrap > div {
    margin-left: 10px; }

  .top-menu li {
    margin: 0 15px; }

  .big-slider .swiper-slide {
    height: 500px; }

  .mini-slider .swiper-slide {
    height: 150px; }

  .product-search .content {
    grid-gap: 30px 30px; }

  .checkout .left {
    width: 100%;
    margin-bottom: 30px; }

  .exchange .aside {
    width: 300px; }

  .exchange .main {
    width: calc(100% - 400px); }

  .sell-banner .bg img {
    -webkit-transform: translate(18%, 0);
            transform: translate(18%, 0); } }
@media (max-width: 991px) {
  .content-width {
    width: 720px; }

  .top-info-line .lang-wrap {
    display: none; }

  .top-info-line .top-info ul li {
    display: none; }

  .top-info-line .top-info ul li:last-child {
    display: block; }

  .top-info-line .tel-wrap {
    display: none; }

  .top-info-line .top-info {
    width: 100%; }

  .top-menu {
    display: none; }

  .open-menu {
    display: inline-block;
    margin: 8px 0 0 0;
    width: 100px; }
    .open-menu a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 24px;
      height: 24px;
      padding: 2px; }
      .open-menu a span {
        display: block;
        width: 100%;
        height: 2px;
        background: #f2f4f7; }
      .open-menu a span + span {
        margin-top: 6px; }

  .menu-responsive {
    width: 100%;
    background: transparent;
    background-size: cover;
    padding: 0;
    overflow: hidden;
    margin: 0;
    vertical-align: top;
    position: absolute;
    height: auto;
    max-height: 100%;
    left: -100vw;
    top: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
    .menu-responsive:after {
      content: "";
      display: table;
      clear: both; }
    .menu-responsive .wrap {
      padding: 25px 30px 100px;
      width: 320px;
      background: #000; }
    .menu-responsive .close-menu {
      position: absolute;
      top: 20px;
      left: 260px;
      width: 35px;
      height: 35px; }
      .menu-responsive .close-menu img {
        vertical-align: top;
        width: 100%; }
      .menu-responsive .close-menu a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 100%;
        padding: 5px; }
    .menu-responsive .fancybox-close-small {
      display: none; }
    .menu-responsive .mob-menu-land {
      margin-bottom: 34px; }
      .menu-responsive .mob-menu-land > ul {
        margin-bottom: 40px;
        display: block; }
        .menu-responsive .mob-menu-land > ul > li {
          margin-bottom: 30px;
          text-align: left; }
          .menu-responsive .mob-menu-land > ul > li > a {
            color: #f2f4f7;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; }
        .menu-responsive .mob-menu-land > ul li:last-child {
          margin-bottom: 0; }
    .menu-responsive .logo-wrap {
      width: 60px;
      margin: 0 0 70px; }
      .menu-responsive .logo-wrap img {
        vertical-align: top;
        width: 100%; }

  .is-menu .menu-responsive {
    left: 0; }

  h1 {
    font-size: 30px;
    line-height: 1.3; }

  .home-banner .text-wrap {
    margin-left: 0; }

  .home-banner .bg img {
    width: 450px;
    top: auto;
    bottom: 0; }

  .home-banner {
    padding-top: 80px; }

  .products-tabs .title {
    width: 100%; }

  .products-tabs .title-h2 {
    text-align: center; }

  .products-tabs .title p {
    text-align: center; }

  .products-tabs .table-menu-styles {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 30px; }

  .title-h2 {
    font-size: 24px;
    line-height: 1.3; }

  .service-block .item {
    width: 100% !important;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }

  .img-text figure {
    width: 100%; }

  .img-text .text {
    width: 100%;
    padding: 50px 50px; }

  .top-line .icon-wrap .user-wrap {
    display: none; }

  .top-line .icon-wrap {
    width: 100px; }

  .top-line .logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .about .main-about {
    width: 100%;
    margin-bottom: 30px; }

  .about .aside-about {
    width: 100%;
    float: inherit; }

  .product .slider-wrap {
    width: 100%;
    margin-bottom: 30px; }

  .mini-slider {
    display: none; }

  .big-slider {
    margin-bottom: 0;
    position: relative; }

  .product .big-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .product .big-pagination .swiper-pagination-bullet {
      width: 24px;
      height: 2px;
      border-radius: 0;
      opacity: 1;
      background: #767676; }
    .product .big-pagination .swiper-pagination-bullet-active {
      background: #61ccac; }

  .product .text-wrap {
    width: 100%;
    padding: 0; }

  .big-slider .swiper-slide a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%; }
    .big-slider .swiper-slide a:after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      height: 200px;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(-5%, rgba(6, 21, 19, 0)), to(#000));
      background: linear-gradient(180deg, rgba(6, 21, 19, 0) -5%, #000 100%);
      width: 100%; }

  .contact .title-wrap {
    width: 100%;
    padding: 0;
    margin-bottom: 40px; }

  .contact .form {
    width: 100%; }

  .category-banner ul li {
    width: 33.33%;
    margin-bottom: 25px; }

  .category-banner {
    padding-bottom: 50px; }

  .search-brand .title {
    width: 100%;
    margin-bottom: 30px; }

  .search-brand .form-wrap {
    width: 100%; }

  .category-banner ul {
    min-width: 100%;
    margin-left: 0; }

  .category-inner-banner .text-wrap {
    min-height: 150px; }

  .product-search .content {
    grid-template-columns: repeat(3, 1fr); }

  .exchange-banner .text-wrap {
    padding: 0; }

  .exchange .main {
    width: 100%;
    margin-bottom: 30px; }

  .exchange .aside {
    float: inherit;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .exchange .aside figure {
      width: 300px; }

  .sell-banner .bg img {
    width: 380px; }

  .sell-banner .list-info li {
    margin: 0 5px; }

  .exchange-sell .aside {
    margin-bottom: 45px; }
  /**/
  header .search-block input {
    height: 40px;
    border-width: 1px;
    line-height: 38px;
    padding: 0 45px 0 15px;
    font-size: 16px; }

  header .search-block button {
    width: 40px;
    height: 40px; }

  .exchange-sell .main {
    margin-bottom: 0; } }
@media (max-width: 767px) {
  .content-width {
    width: 540px; }

  .search-brand .content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 30px; }

  .category-inner-banner .text-wrap {
    min-height: 100px; }

  .product-search .content {
    grid-template-columns: repeat(2, 1fr); }

  .checkout .item figure {
    width: 50px; }

  .checkout .item .text {
    width: calc(100% - 80px); }

  .checkout .total-wrap {
    width: 100%; }

  .sell-banner .list-info li {
    width: 110px; } }
@media (max-width: 575px) {
  .content-width {
    width: 100%;
    padding: 0 15px; }

  .top-info-line .top-info ul li a img {
    width: 65px;
    margin-right: 10px; }

  .top-info-line .top-info ul li a {
    font-size: 8px;
    line-height: 10px; }

  .top-info-line {
    padding: 10px 0; }

  .top-line .content-width {
    padding: 0 5px; }

  .top-line .logo-wrap img {
    width: auto;
    display: none; }

  .top-line .logo-wrap .mob {
    display: block; }

  .top-line .icon-wrap > div a img {
    width: 24px; }

  .top-line {
    padding: 11px 0 15px; }

  .open-menu {
    margin: 6px 0 0 8px; }

  .open-menu a span {
    height: 1px; }

  .open-menu a {
    width: 20px; }

  .top-line .icon-wrap {
    top: 3px; }

  .top-line .icon-wrap > div {
    margin-left: 3px; }

  .home-banner h1 {
    text-align: center; }

  h1 {
    font-size: 24px;
    line-height: 28px; }

  .home-banner .text-wrap {
    width: 100%; }

  .home-banner {
    padding: 26px 0 280px; }

  .home-banner p {
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    color: #91aba9;
    margin-bottom: 23px; }

  .btn-default {
    height: 36px;
    line-height: 32px;
    font-size: 14px; }

  .home-banner .btn-wrap a:first-child {
    margin: 0 0 17px; }

  .home-banner .btn-wrap a {
    width: 100%; }

  .logo-slider .swiper-slide {
    width: 69px;
    height: 32px; }
    .logo-slider .swiper-slide img {
      -o-object-fit: contain;
         object-fit: contain;
      width: 100%;
      height: 100%;
      -o-object-position: center;
         object-position: center; }

  .home-banner .bg img {
    width: 235px;
    -webkit-transform: translate(-51%, 0);
            transform: translate(-51%, 0);
    bottom: 60px; }

  .home-banner .bg:after {
    height: 155px; }

  .logo-slider {
    bottom: 17px; }

  .products-tabs {
    padding: 30px 0 20px; }

  body {
    font-size: 14px;
    line-height: 20px; }

  .products-tabs .title-h2 {
    margin-bottom: 1px; }

  .products-tabs .table-menu-styles li {
    font-size: 14px;
    line-height: 16px; }

  .products-tabs .title {
    margin-bottom: 22px; }

  .products-tabs .table-menu-styles li:nth-child(4) {
    display: none; }

  .products-tabs .product-item {
    width: 265px; }

  .product-slider {
    overflow: visible; }

  .products-tabs {
    overflow: hidden; }

  .product-item figure {
    height: 261px; }

  .product-item .text .title {
    font-size: 14px;
    line-height: 16px; }

  .product-item .text .info {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 7px; }

  .product-item .text .cost {
    font-size: 16px;
    line-height: 18px; }

  .product-item .text {
    padding-top: 8px; }

  .product-item .text .btn-wrap a {
    height: 32px;
    line-height: 28px;
    font-size: 14px; }

  .products-tabs .btn-wrap-all {
    margin-top: 22px; }
    .products-tabs .btn-wrap-all a {
      width: 100%;
      height: 44px;
      line-height: 40px; }

  .testimonials .title {
    width: 100%;
    margin-bottom: 20px; }

  .testimonials .title-h2 {
    text-align: center;
    padding: 0 50px;
    line-height: 1.1;
    margin-bottom: 3px; }

  .testimonials {
    padding: 40px 0 20px; }

  .testimonials .title p {
    text-align: center; }

  .testimonials .nav-wrap {
    display: none; }

  .content-width-slider:after {
    display: none; }

  .testimonials-slider .swiper-slide {
    width: 310px;
    padding: 15px 15px; }

  .testimonials-slider .user-wrap figure {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    position: relative;
    top: 2px; }

  .testimonials-slider .user-wrap .name {
    font-size: 16px;
    line-height: 20px; }

  .testimonials-slider .user-wrap .text {
    margin-top: -2px; }

  .testimonials-slider .wrap p {
    font-size: 12px;
    line-height: 18px; }

  .testimonials-slider .user-wrap {
    margin-bottom: 9px; }

  .testimonials-slider .stars-wrap {
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 0;
    width: 85px; }
    .testimonials-slider .stars-wrap img {
      width: 100%; }

  .service-block {
    padding: 29px 0 10px; }

  .service-block .title-h2 {
    text-align: center;
    margin-bottom: 1px; }

  .service-block .title-wrap p {
    text-align: center; }

  .service-block .title-wrap {
    margin-bottom: 32px; }

  .service-block .item {
    padding: 20px 24px 19px; }

  .service-block .item p {
    font-size: 16px;
    line-height: 24px;
    width: 100%; }

  .service-block .item .title {
    margin-bottom: 13px; }

  .service-block .content {
    grid-gap: 18px 30px; }

  .service-block .btn-wrap {
    margin-top: 27px; }

  .btn-big {
    height: 48px;
    line-height: 44px; }

  .service-block .btn-wrap a {
    min-width: inherit;
    width: 100%; }

  .img-text {
    padding: 22px 0 10px; }

  .img-text figure {
    height: 65vw; }

  .img-text .text {
    padding: 20px 25px; }

  .img-text .title-h2 {
    margin-bottom: 18px; }

  .img-text .btn-wrap-full {
    margin-top: 25px; }
    .img-text .btn-wrap-full a {
      min-width: 100%;
      width: 100%; }

  .item-4x .title-h2 {
    text-align: center;
    margin-bottom: 2px; }

  .item-4x .title-wrap p {
    text-align: center; }

  .item-4x {
    padding: 19px 0 20px; }

  .item-4x .title-wrap {
    margin-bottom: 24px; }

  .market-slider .swiper-slide {
    width: 324px; }

  .market-slider {
    overflow: visible; }

  .item-4x {
    overflow: hidden; }

  .market-slider .text .label {
    font-size: 14px;
    line-height: 16px; }

  .market-slider .text .title {
    font-size: 16px;
    line-height: 24px; }

  .soc-block {
    padding: 15px 0;
    margin: 33px 0 10px; }

  .soc-block ul a img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }

  .soc-block ul li {
    margin: -1px 14px; }

  .download-block figure {
    display: none; }

  .download-block .text {
    width: 100%; }

  .download-block {
    padding: 20px 0 15px; }

  .download-block .title-h3 {
    text-align: center;
    margin-bottom: 4px; }

  .download-block p {
    text-align: center; }

  .download-block .form-wrap .btn-default {
    height: 44px;
    line-height: 40px; }

  footer .item {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); }

  footer .item:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.15); }

  footer .item ul li h6 {
    margin: 0; }
    footer .item ul li h6 a {
      padding: 7px 30px 7px 0;
      display: block;
      width: 100%;
      position: relative;
      pointer-events: inherit; }
      footer .item ul li h6 a:after {
        position: absolute;
        top: 4px;
        right: 0;
        content: '';
        width: 24px;
        height: 24px;
        background: url("../img/icon-9.svg") no-repeat center;
        background-size: contain;
        -webkit-transform: scale(1, -1);
                transform: scale(1, -1);
        -webkit-transition: all .4s ease;
        transition: all .4s ease; }

  footer .item ul li:nth-child(n + 2) {
    display: none; }

  footer .item ul li {
    margin-top: 7px; }

  footer .item ul li h6, footer .item ul li h6 a {
    font-size: 14px;
    line-height: 18px; }

  footer {
    padding: 40px 0 30px; }

  footer .item ul li h6 a.is-open:after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }

  footer .item ul li a {
    font-size: 12px;
    line-height: 20px; }

  footer .bottom .menu {
    max-width: 100%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 14px; }

  footer .bottom .menu li {
    margin: 0 15px; }

  footer .bottom .cart-wrap {
    width: 100%; }

  footer .bottom .cart-wrap ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  footer .bottom .cart-wrap p {
    text-align: center; }

  footer .content {
    padding-bottom: 11px; }

  footer .bottom .cart-wrap ul li {
    margin-left: 8px;
    margin-right: 8px; }

  .product {
    padding-top: 0; }

  .product .slider-wrap {
    margin-left: -15px;
    min-width: calc(100% + 30px);
    margin-bottom: 20px; }

  .big-slider .swiper-slide {
    height: 425px; }

  .product .big-pagination {
    bottom: 20px; }

  .product .text-wrap .brand {
    font-size: 14px;
    line-height: 16px; }

  .product .text-wrap p {
    margin-bottom: 14px; }

  .product .text-wrap .title {
    font-size: 18px;
    line-height: 22px; }

  .product .text-wrap .price {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 9px; }

  .product .text-wrap .info .logo, .checkout .total-wrap .info .logo {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    padding: 0 5px;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    margin-right: 5px; }

  .product .text-wrap .info, .checkout .total-wrap .info {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 12px; }

  .product .text-wrap .info .img, .checkout .total-wrap .info .img {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    margin-right: 0; }

  .product .text-wrap .list li {
    margin-bottom: 2px; }

  .product .text-wrap .list {
    margin-bottom: 10px; }

  .product .btn-wrap .btn-default {
    height: 42px;
    line-height: 38px; }

  .product .btn-wrap a + a {
    margin-top: 10px; }

  .product .btn-wrap {
    margin-bottom: 12px; }

  .product .info-list li, .checkout .total-wrap .info-list li {
    padding: 11px 5px; }

  .product .info-list, .checkout .total-wrap .info-list {
    grid-gap: 20px 10px; }

  .product {
    padding-bottom: 13px; }

  .products-no-tabs .title-h3 {
    font-size: 18px;
    line-height: 22px; }

  .products-tabs .title {
    margin-bottom: 27px; }

  .contact .content {
    padding: 0; }

  .contact .soc-list li {
    margin-right: 39px; }

  .category-banner h1 {
    font-size: 24px;
    line-height: 28px; }

  .category-banner {
    padding: 24px 0 30px; }

  .category-banner ul li figure {
    height: 125px; }
    .category-banner ul li figure img {
      max-height: 100%; }

  .category-banner ul li .text p {
    font-size: 10px;
    line-height: 12px; }

  .category-banner ul li .text {
    padding-top: 6px; }

  .category-banner ul {
    margin-top: 19px; }

  .category-banner ul li {
    margin-bottom: 9px; }

  .search-brand {
    padding: 18px 0 28px; }

  .search-brand .form-wrap input {
    height: 48px;
    line-height: 48px;
    font-size: 14px; }

  .search-brand .form-wrap .btn {
    width: 48px;
    height: 48px; }
    .search-brand .form-wrap .btn img {
      width: 24px;
      height: auto; }

  .search-brand .title {
    margin-bottom: 13px; }

  .search-brand .form-wrap input {
    padding-left: 48px; }

  .search-brand .title-item {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px; }

  .search-brand .title-wrap {
    margin-bottom: 30px; }

  .search-brand .content {
    grid-gap: 5px 15px; }

  .search-brand .item ul li a {
    font-size: 12px;
    line-height: 14px; }

  .search-brand .item ul li {
    margin-bottom: 10px; }

  .category-inner-banner .text-wrap {
    min-height: inherit; }

  .product-search .breadcrumb {
    display: none; }

  .product-search .select-block {
    margin-right: 5px; }

  .product-search .right-wrap {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  .category-inner-banner .text-wrap {
    padding: 0; }

  .product-search {
    padding: 20px 0 5px; }

  .product-search .nice-select {
    font-size: 14px;
    padding-right: 23px; }

  .product-search .filer-btn a {
    font-size: 14px; }
    .product-search .filer-btn a img {
      width: 20px; }

  .product-search .sort-line {
    margin-bottom: 25px; }

  .product-search .content {
    grid-gap: 20px 10px; }

  .product-search .product-item figure {
    height: 190px; }
  .product-search .product-item .text {
    padding-top: 6px; }

  .pagination-wrap {
    margin-top: 27px; }

  .pagination li:first-child a {
    font-size: 0; }

  .pagination li:last-child a {
    font-size: 0; }

  .checkout h1 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 35px; }

  .checkout {
    padding: 27px 0 15px; }

  .checkout .item figure {
    width: 85px; }

  .checkout .item .text {
    width: calc(100% - 100px);
    padding-right: 50px; }

  .checkout .item {
    padding: 23px 0 23px; }

  .checkout .item .brand-name .title {
    font-size: 14px;
    line-height: 15px; }

  .checkout .item .brand-name p {
    font-size: 14px;
    line-height: 15px; }

  .checkout .item .brand-name {
    width: 100%;
    margin-bottom: 10px; }

  .checkout .item .cost {
    width: 100%; }

  .checkout .item .cost p {
    font-size: 18px;
    line-height: 20px; }
    .checkout .item .cost p sup {
      color: #91aba9; }

  .checkout .item {
    position: relative; }
    .checkout .item .delete {
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }

  .checkout .left {
    margin-bottom: 0; }

  .checkout .total-wrap {
    padding: 0; }

  .checkout .total-wrap .total-list li .title-p {
    font-size: 14px;
    line-height: 16px; }

  .checkout .total-wrap .total-list li .cost-p {
    font-size: 18px;
    line-height: 22px; }

  .checkout .total-wrap .total-list li {
    margin-bottom: 10px; }

  .checkout .total-wrap .total-list .total-li {
    padding-top: 18px; }

  .checkout .total-wrap .total-list {
    margin-bottom: 13px; }

  .checkout .total-wrap .info {
    margin-bottom: 22px; }

  .checkout .total-wrap .btn-wrap .btn-default {
    height: 40px;
    line-height: 36px; }

  .checkout .total-wrap .btn-wrap .btn-grey {
    margin-top: 11px; }

  .checkout .total-wrap .text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px; }

  .checkout .total-wrap .btn-wrap {
    margin-bottom: 13px; }

  .see-product {
    display: none; }

  .sell-banner .list-info li {
    width: 80px; }

  .sell-banner .list-info li p {
    font-size: 10px;
    line-height: normal; }
  .form-popup .input-wrap {
    width: 100%; }

  .form-popup .input-wrap input {
    height: 40px;
    line-height: 40px;
    padding: 0 10px; }

  .sell-popup .top {
    padding: 20px 20px; }

  .form-popup .d-flex {
    padding: 0 20px 50px; }

  .form-popup .btn-wrap {
    padding: 20px 20px 0; }

  .sell-popup .wrap {
    padding: 20px 0; }

  .form-popup .nice-select {
    height: 40px;
    line-height: 40px;
    padding: 0 20px 0 10px; }

  .form-popup .input-wrap-check .text {
    width: 100%;
    margin-bottom: 10px; }

  .form-popup .input-wrap-check .wrap-check {
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }

  .sell-popup .swiper-pagination {
    bottom: 75px; }

  .form-popup .input-wrap-check {
    margin-top: 10px; }

  .form-popup .btn-wrap-dis:after {
    top: 20px;
    left: 20px;
    right: 20px; }
}

/*# sourceMappingURL=responsive.css.map */